/* Tablet */
@media only screen and (max-width: 991px){
    header .navbar-brand{
        padding-left: 2rem;
    }


    header .bottom-header {
        position: initial;
        width: initial;
        height: initial;
        padding-bottom: -25rem;
    } 

    .hamburger {
        display: block;
        position: relative;
        z-index: 1;
        background: none;
        border: none;
        cursor: pointer;
        right: 0;
        appearance: none;
    }

    .hamburger span{
        display: block;
        position: relative;
        background-color: white;
        height: 3px;
        width: 30px;
        margin-bottom: 5px;
        border-radius: 6px;
        /* display: none; */
    }

    header #navbarNavAltMarkup{
        position: absolute;
        right: 0;
        background-color: var(--bg);
        margin-top: 1.5rem;
        padding-bottom: .25rem;
        margin-right: -1rem;
        width: 175px;
        border-radius: 15%;
        box-shadow: whitesmoke;
    }


    .section-1 .row .col-md-6 .panel{
        position: initial;
        width: 350px;
        height: initial;
        margin-top: 75px;
        margin-left: -75px;
    }

    .section-1 .row .col-md-6 .panel p{
        font-size: .85em;
    }

    .tech-stack .rect{
        width: 10rem;
        height: 12rem;
    }

    .tech-stack .rect h1{
        font-size: 2rem;
    }


    /* .section-3 .carousel-item{
        padding-left: 0rem;
    }

    .section-3 .card{
        margin-right: 30rem;
    }

    .section-3 .team{
        display: flex;
        flex-direction: column;
        margin-left: 174px;

    }

    .section-3 .carousel-inner{
        width: 24rem; 
    }

    .section-3 .carousel-item{
        margin-top: 2em;
    }

    .section-3 .carousel-control-prev {
        margin-left: -14px;
    }

    .section-3 .carousel-control-next {
        margin-right: -213px;
        margin-bottom: -2.25px;
    } */


}
 
/* large phone */
/* @media only screen and (max-width: 425px){
    header .navbar-toggler {
        margin-left: 118px;
    }

    
    .section-3 .carousel-item{
        margin-top: 5rem;
    }

    footer .row .col-md-2{
        margin-top: 8vmin;
    }
} */

/* @media only screen and (max-width: 320px){
    .section-3 .card{
        width: 14rem;
    }

    .section-3 .carousel-item{
        padding-left: 0rem;
        margin-left: -1.5rem;
        margin-top: 5em;
    }

} */