/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Hind:wght@300&family=Lobster&family=Noto+Sans&family=Rubik:wght@300&family=Sniglet&display=swap');

*{
    box-sizing: border-box;
}

header,
section{
    overflow-x: hidden;
}

:root{
    --Sniglet-font:"Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Lobster: "Lobster", cursive;
    --Heebo: "Heebo", cursive;
    --NotoSans: "Noto-Sans", cursive;
    --light-black: hsla(300, 1%, 14%, 0.184);
    --bg: black;
    --light-gray: #rgba(255,255,255,025);
}

header a{
    font-family: var(--Rubik-font);
    font-size: 0.9em;
    color: whitesmoke;
}

header {
    background: whitesmoke;
    background: var(--bg);
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2); 
    z-index: 1;
}

.dropdown-content a{
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content{
    display: block;
    transform: translateX(.75em);
    translate: translate(300ms);
}


.navbar-nav {
    padding-right: 10.5em;
}

header .nav-item{
    margin-left:20px;
    margin-right:20px;
  }

header .navbar-brand {
    padding-left: 8rem;
}

header .navbar-brand:hover{
    color:#c92c80;
}

header .nav-link:hover {
    color: #c92c80;
}

header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}

header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: var(--Heebo);
    color: #353839; 
    font-weight: bold;
}

header .row .col-md-5 img{
    width: 105%;
    border-radius: 28%;
    border-color: black;
    border-width: 2em;
}

header .container .col-md-7 h6{
    padding: 1vmin;
    letter-spacing: 4px;
    font-weight: bold;

    color: rgb(196, 191, 191);
}

header .contianer .col-md-7 h1 {
    font-size: 8vmin;

    color: rgb(196, 191, 191);
    font-weight: bold;
    padding: 0.1em 0em;
}

header .container .col-md-7 p{
    padding: 1vmin 5vmin;
    color: whitesmoke;
}

header .container .col-md-7 button{
    border-radius: 30px;
    font-weight: bold;
}

header .container .col-md-7 button:hover {
    box-shadow: 0 0.4rem 1.4rem #c92c80;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

/* Section 1 */

.section-1{
    padding: 20vmin 0;
    margin: 10vmin;
}

.section-1 .row .col-md-6 .pray img{
    opacity: 0.8;
    width: 78%;
    border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child{
    position: relative;
}

.section-1 .row .col-md-6 .panel{
    position: absolute;
    top: 3vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0,0,0,0.2); 
    font-family: var(--Rubik);
    z-index: 1;
}

.section-1 .row .col-md-6 h1{
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}

.section-1 .row .col-md-6 .panel p{
    font-size: 1em;
    color: white(0, 0, 0, 0.5);
}

/* Section 2 */

.cover{
    width: 100%;
    height: 55vmin;
    background-image: url('/assets/pexels-designecologist-1779487.jpg');
    background-position: -5rem -20rem;
    background-size: 40%;
    position: relative;
}

.cover .content{
    background: rgba(255, 253, 253, 0.7);
    height: 100%;
    width: 100%;
    padding-top: 19vmin;
}

.cover .content h1{
    font-family: var(--Heebo);
    font-size: 6vmin;
    color: rgb(177, 177, 177);
    font-weight: bold;
}


.numbers .rect{
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: .5em;
    box-shadow: 1px 2px 50px 0px #686a81;
}

.numbers{
    margin-top: -25vmin;
}

.numbers .rect h1{
    font-size: 5rem;
    color: #4f5472;
}

.numbers .rect p{
    font-family: var(--Heebo);
}


/* Section 3 */

.section-3 {
    height: 70vmin;
    margin-top: 15vmin;
    background-color: whitesmoke;
}

.section-3 .col-md-12 h1{
    padding: 2em 0 0.5em 0;
    color: black;
    font-size: 6vmin;
}

.section-3 .col-md-12 >p{
    padding: 0 4em;
    padding-bottom: 2em;
    color: var(--light-gray);
    font-size: 3vmin;
}

.section-3 .desktop {
    background:white;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
}

.section-3 .desktop h3{
    font-size: 4vmin;
}

.sectino-3 .desktop p{
    font-size: 2vmin;
}

/* section 4 */

.section-4 .container h1{
    font-size: 6vmin;
    padding-top: 14vmin;
}

.section-4 .team{
    padding: 10vmin 4vmin;
}

.section-4 .card{
    width: 22rem;
}

.section-4 .card .card-text{
    padding: 0.5em;
}

.section-4 .card .card-body a{
    font-size: 1.5em;
}

.section-4 .carousel-item{
    padding-left: 2rem;
    padding-right: 2rem;
}

.border-radius{
    border-radius: 340px;
    width: 60%;
    margin-top: 1em;
}

.carousel-control-next,
.carousel-control-prev , 
.carousel-indicators {
    filter: invert(100%);
}

/* Footer */

footer{
    background:rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}

footer p>span{
    color: whitesmoke;
}

footer input{
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer .input-group .input-group-text{
    border: none;
}

footer .column i{
    color: white;
}

footer .column i + i{
    padding: 0 0.5em;
}

/* Sticky Nav Class */

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #F8F9FA;
    z-index: 9999;
    transition: all 1.5s ease;
} */