/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Hind:wght@300&family=Lobster&family=Noto+Sans&family=Rubik:wght@300&family=Sniglet&display=swap');

*{
    box-sizing: border-box;
}

header,
section{
    overflow-x: hidden;
}

:root{
    --Sniglet-font:"Sniglet", monospace;
    --Rubik: "Rubik", monospace;
    --Lobster: "Lobster", monospace;
    --Heebo: "Heebo", monospace;
    --NotoSans: "Noto-Sans", monospace;
    --light-black: hsla(300, 1%, 14%, 0.184);
    --bg: black;
    --pink: #c92c80;
}

html {
    scroll-behavior: smooth;
}

header a{
    font: var(--Rubik);
    font-size: 0.9em;
    color: whitesmoke;
}

header {
    background: var(--bg);
}

/* NAVBAR */

nav.navbar {
    position: fixed;
    display: flex;
    background-color: black;
    width: 100%;
    z-index: 1;
    font: var(--Rubik);

    /* OPACITY MESSES UP WHEN LINKS ARE HOVERED OVER */
    /* opacity: 85%; */
}

header .navbar-brand {
    padding-left: 2.5rem;
    margin-right: 0;
}

header .navbar-nav a.nav-item.nav-link {
    padding: 5px 20px;
    font-size: 1.1rem;
}


header .navbar-brand:hover{
    color: var(--pink);
}

header .nav-link:hover{
    color: var(--pink);
}

.hamburger {
    display: none;
    appearance: none;
}

.hamburger:hover span{
    background-color: var(--pink);
}

/* NAVBAR END */

/* DROPDOWN */

.dropdown-content{
    display: none;
    position: absolute;
    background-color: black;
    margin-right: 5rem;
    min-width: 100px;
    z-index: 1;
    border-radius: 15%;
}

header .dropdown-content a.nav-item.nav-link{
    margin-top: 0;
    color: whitesmoke;
    padding: 9px 0px 6px 6px;
    text-decoration: none;
    display: block;
}



.dropdown:hover .dropdown-content{
    display: block;
    transform: translateX(-35px);
    margin-top: 1px;
}

.dropdown a.nav-item.nav-link:hover {
    color: var(--pink);
}

/* DROPDOWN END */

/* FRONT PAGE */

header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}

header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: var(--Heebo);
    color: #353839; 
    font-weight: bold;
}

header .row .col-md-5 img{
    width: 105%;
    border-radius: 28%;
    border-color: black;
    border-width: 2em;
}

header .container .col-md-7 h6{
    padding: 1vmin;
    letter-spacing: 4px;
    font-weight: bold;
 
    color: rgb(196, 191, 191); 
}


header .container .col-md-7 h6.animate-text.at4 {
    color: var(--pink) ;
    
}

/* TEXT ANIMATION */

header .container .col-md-7 h6.animate-text {
    position: relative;
    width: max-content;
    margin: 0 auto;
}

header .container .col-md-7 h6.animate-text::before, 
header .container .col-md-7 h6.animate-text::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

header .container .col-md-7 h6.animate-text.at1::before {
    background-color: var(--bg);
    animation: typewriter .95s 1s steps(6) forwards;
}

header .container .col-md-7 h6.animate-text.at2::before {
    background-color: var(--bg);
    animation: typewriter 1s 2s steps(9) forwards;
}

header .container .col-md-7 h6.animate-text.at3::before {
    background-color: var(--bg);
    animation: typewriter 1.5s 3.2s steps(14) forwards;
}

header .container .col-md-7 h6.animate-text.at4::before {
    background-color: var(--bg);
    animation: typewriter .95s 4.75s steps(9) forwards;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

/* END TEXT ANIMATION */


header .contianer .col-md-7 h1 {
    font-size: 8vmin;
    color: rgb(196, 191, 191);
    font-weight: bold;
    padding: 0.1em 0em;
}

header .container .col-md-7 p{
    padding: 1vmin 5vmin;
    color: whitesmoke;
}

/* BUTTON */

header .container .col-md-7 button:hover {
    box-shadow: 0 0.4rem 1.4rem var(--pink);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

header .container .col-md-7 button{
    border-radius: 30px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 3s 6s ease forwards;
}


@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* END BUTTON */
/* FRONT PAGE END */


/* Section 1 */

.section-1{
    padding: 10vmin 0;
    margin: 10vmin;
}

.section-1 .row .col-md-6 .pray img{
    opacity: 0.8;
    width: 78%;
    max-height: 675px;
    border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child{
    position: relative;
}

.section-1 .row .col-md-6 .panel{
    position: absolute;
    top: 3vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 12vmin 5vmin 12vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0,0,0,0.2); 
    font-family: var(--Rubik);
    z-index: 0.8;
}

.section-1 .row .col-md-6 h1{
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}

.section-1 .row .col-md-6 .panel p{
    font-size: 1em;
    color: white(0, 0, 0, 0.5);
}

/* Section 2 */

.cover{
    width: 100%;
    height: 55vmin;
    background-image: url('/assets/pexels-designecologist-1779487.jpg');
    background-position: -5rem -20rem;
    background-size: 40%;
}

.cover .content{
    background: rgba(255, 253, 253, 0.7);
    height: 100%;
    width: 100%;
    padding-top: 19vmin;
}

.cover .content h1{
    font-family: var(--Heebo);
    font-size: 6vmin;
    color: rgb(177, 177, 177);
    font-weight: bold;
}


.tech-stack .rect{
    /* position: relative; */
    z-index: 0.8;
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: .5em;
    box-shadow: 1px 2px 50px 0px #686a81;
}

.tech-stack{
    margin-top: -25vmin;
    padding-bottom: 2.2rem;
}

.tech-stack .rect h1{
    font-size: 5rem;
    color: #4f5472;
}

.tech-stack .rect p{
    font-family: var(--Heebo);
}


/* section 3 */

.section-3 .container h1{
    font-size: clamp(3rem, 1vh ,6rem);
    padding-top: 14vmin;
}

.section-3 .team{
    padding: 11vmin 4vmin;
}

.section-3 .card {
    /* border: 2px solid red; */
    margin: auto;
    width: 24vw;
    height: 64vh;
    }


.section-3 .card .card-text{
    font-size: 1rem;
    padding-top: 0.5em;
}

.section-3 .card .card-body a{
    padding-top: initial;
    font-size: 1.5em;
}

.border-radius{
    border-radius: 340px;
    width: 60%;
    margin-top: 15px;
}

.carousel-control-next,
.carousel-control-prev , 
.carousel-indicators {
    filter: invert(100%);
    position: absolute;
}
